<div class="flex w-full h-screen">

    <div class="w-1/6 bg-gray-100">
        <!-- <app-navbar></app-navbar> -->
    </div>


    <div class="w-5/6 p-10">
        <div class="flex items-center justify-between w-full">
            <div class="text-2xl font-bold" style="font-family: 'Alexandria', sans-serif; color: #2F2F2F;">
                Events
            </div>
            <button
                class="px-8 py-2 rounded-md font-medium text-black shadow-md hover:bg-[#e6c775] focus:outline-none transition-all duration-300"
                style="background-color: #FFDE8A;font-family: 'Alexandria', sans-serif; color: #2F2F2F;"
                (click)="goToGenerateEvent()">
                Create New
            </button>

        </div>

        <app-eventlist></app-eventlist>
    </div>

</div>