<div class="flex flex-wrap gap-10 py-5">

    <div *ngFor="let admin of adminList" class="admincard w-64 rounded-lg shadow-md p-4 bg-[#FFFCF3] relative">

        <!-- Status Badge -->
        <div 
            class="bg-green-200 text-green-800 absolute top-2 right-2 px-3 py-1 rounded-full text-xs font-semibold">
            {{ admin.status }}
        </div>
    
        <!-- admin Logo -->
        <div class="adminlogo flex justify-center mb-2">
            <div class="adminlogoimg w-12 h-12"></div>
        </div>
    
        <!-- admin Name -->
        <h4 class="admintitle text-center font-medium text-lg mb-1">
            {{ admin.full_name }}
        </h4>
    
        <!-- admin Location -->
        <div class="adminlocation text-center text-sm text-gray-700">
            Chennai
        </div>

        <div class="adminlocation text-center text-sm text-gray-700">
            {{admin.company_helplline_number}}
        </div>
    
        <!-- Details Button -->
        <div class="flex justify-center mt-4">
            <button class="bg-yellow-400 text-black font-medium rounded-full px-4 py-1">
                Details
            </button>
        </div>
    </div>
    
</div>