<div class="flex flex-wrap gap-10 py-5">
    <div
      *ngFor="let event of events"
      class="eventcard w-64 rounded-lg shadow-md p-4 bg-[#FFFCF3] relative"
      (click)="navigateToPreview(event.id)"
    >
      <!-- Event Logo -->
      <div class="eventlogo flex justify-center mb-2">
        <div class="eventlogoimg w-12 h-12"></div>
      </div>
  
      <!-- Event Title -->
      <h4 class="eventtitle text-center font-semibold text-lg mb-1">
        {{ event.title }}
      </h4>
  
      <!-- Event Date -->
      <div class="eventdate text-center text-sm text-gray-700 mb-1">
        {{ event.created_at | date: 'dd/MM/yyyy' }}
      </div>
  
      <!-- Event Location -->
      <div class="eventlocation text-center text-sm text-gray-700">
        Chennai
      </div>
  
      <!-- Delete Button -->
      <button
        class="absolute top-2 right-2 z-50 text-white w-6 h-6 flex items-center justify-center rounded-full"
        (click)="deleteEvent(event.id, $event)"
        style="color: #ff0000c8;"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
  